{% extends "base_admin.html" %}
{% load static %}

{% block titulo_admin %}

<title>Admin Eventos</title>

{% endblock titulo_admin %}

{% block contenido_admin %}

<div class="p-4 sm:ml-64">
    <div class="p-4">
        <!--Inicio Titulo-->
        <div class="grid grid-cols-1 gap-4 mb-4">
            <div id="carta" class="flex items-center justify-center h-24 rounded bg-gray-50 dark:bg-gray-800">
                <p class="text-2xl">
                    Administrar Eventos
                </p>
            </div>
        </div>
        <!--Fin Titulo-->
        <!--Inicio espacio tabla-->
        <div class="justify-center rounded">
            <div id="tabla" class="overflow-x-auto shadow-md sm:rounded-lg p-2">
                <!--Inicio tabla-->
                <table id="myTablevent" class="w-full text-sm text-left">

                    <!--Inicio Titulos tabla-->
                    <thead class="text-xs">
                        <tr>
                            <th scope="col" class="px-6 py-3">
                                Titulo
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Publicador
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Fecha
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Estado
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Participantes
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Acción
                            </th>
                        </tr>
                    </thead>
                    <!--Fin Titulos tabla-->
                    <!--Inicio contenido tabla-->
                    <tbody>
                        {% for eve in eventos %}
                        <!--Inicio objeto tabla-->
                        <tr
                            class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                            <!--Titulo-->
                            <th class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                <div class="">
                                    <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                                        {{eve.1}}
                                    </p>
                                </div>
                            </th>

                            <!--Publicador-->
                            <th class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                <div class="">
                                    <p class="text-sm font-medium truncate dark:text-white" id="nombre">
                                        {{eve.4}} {{eve.5}} {{eve.7}}
                                    </p>
                                    <p class="text-sm  truncate dark:text-gray-400">
                                        {{eve.6}}
                                    </p>
                                </div>
                            </th>
                            <!--FECHA-->
                            <th class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                <div class="">
                                    <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                                        {{eve.2}}
                                </div>
                            </th>
                            <!--Estado-->
                            <td>
                                {% if eve.3 == 1 %}
                                <div id="toast-success" class="flex items-center w-full max-w-xs" style="width: 90px;">
                                    <div
                                        class="color inline-flex items-center justify-center flex-shrink-0 w-8 h-8 text-green-500 bg-green-100 rounded-lg">
                                        <svg id="icono" class="icono w-5 h-5" aria-hidden="true"
                                            xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                            <path id="icono" class="icono"
                                                d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z" />
                                        </svg>
                                        
                                    </div>
                                    <div id="estado" class="estado ml-3 text-sm font-normal">Activa</div>
                                </div>
                                {% else %}
                                <div id="toast-success" class="flex items-center w-full max-w-xs" style="width: 90px;">
                                    <div
                                        class="color inline-flex items-center justify-center flex-shrink-0 w-8 h-8 text-red-500 bg-red-100 rounded-lg dark:bg-red-800 dark:text-red-200">
                                        <svg class=" w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                                            fill="currentColor" viewBox="0 0 20 20">
                                            <path id="icono" class="icono"
                                                d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 11.793a1 1 0 1 1-1.414 1.414L10 11.414l-2.293 2.293a1 1 0 0 1-1.414-1.414L8.586 10 6.293 7.707a1 1 0 0 1 1.414-1.414L10 8.586l2.293-2.293a1 1 0 0 1 1.414 1.414L11.414 10l2.293 2.293Z" />
                                        </svg>
                                        
                                    </div>
                                    <div id="estado" class="estado ml-3 text-sm font-normal">Archivada</div>
                                </div>
                                {% endif %}
                            </td>
                            <!--Participantes-->
                            <td>

                                <button type="button"
                                    class="openPopupButton m-2 text-green-700 hover:text-white border border-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:border-green-500 dark:text-green-500 dark:hover:text-white dark:hover:bg-green-600 dark:focus:ring-green-800"
                                    data-event-id="{{ eve.0 }}">Participantes</button>

                            </td>
                            <!--Acciones-->
                            <td>
                                <form action="{% url 'archivar_evento' %}" id="archivarForm" class="archivarForm">
                                    {% csrf_token %}
                                    <input type="text" class="id_evento" id="id_evento" name="id_evento"
                                        value="{{ eve.0 }}" style="display: none;">
                                    {% if eve.3 == 1 %}

                                    <button type="submit" name="accion" data-accion="modificar" style="width: 90px;"
                                        class="Button modificar  m-2 text-red-700 hover:text-white border border-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:border-red-500 dark:text-red-500 dark:hover:text-white dark:hover:bg-red-600 dark:focus:ring-red-900">Archivar</button>

                                    {% else %}

                                    <button type="submit" name="accion" data-accion="modificar" style="width: 90px;"
                                        class="Button modificar  m-2 text-purple-700 hover:text-white border border-purple-700 hover:bg-purple-800 focus:ring-4 focus:outline-none focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:border-purple-500 dark:text-purple-500 dark:hover:text-white dark:hover:bg-purple-600 dark:focus:ring-purple-900 ml-4">Activar</button>

                                    {% endif %}
                                    <button type="submit" name="accion" data-accion="eliminar" style="width: 90px;"
                                        class="Button eliminar m-2 text-red-700 hover:text-white border border-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:border-red-500 dark:text-red-500 dark:hover:text-white dark:hover:bg-red-600 dark:focus:ring-red-900">Eliminar</button>

                                    <a href="{% url 'adm_modificar_evento' eve.0 %}">
                                        <button type="button" style="width: 90px;"
                                            class="m-2 text-green-700 hover:text-white border border-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:border-green-500 dark:text-green-500 dark:hover:text-white dark:hover:bg-green-600 dark:focus:ring-green-800">Modificar</button>
                                    </a>
                                </form>
                            </td>
                        </tr>
                        <!--Fin  objeto tabla-->
                        {% endfor %}
                    </tbody>

                </table>
                <!--Fin numero de paginas-->
            </div>
        </div>
        <!--Fin espacio tabla-->
    </div>
</div>

<!--POP Up-->
{% for eve in eventos %}
<div id="popup-{{ eve.0 }}" class="popup" hidden>
    <div class="popup-content">
        <div style="position: absolute; z-index: 2; top: 10px; right: 10px;">
            <button type="button" id="closeButton" data-event-id="{{ eve.0 }}"
                class="closeButton text-red-700 hover:text-white border border-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-3 py-2 text-center mr-2 mb-2 dark:border-red-500 dark:text-red-500 dark:hover:text-white dark:hover:bg-red-600 dark:focus:ring-red-900">Cerrar</button>
        </div>
        Participantes
        <div class="relative z-0 w-full mb-2 group">
            <p class="text-m font-bold dark:text-white mt-4">Participantes actuales</p>
        </div>
        <div class="participantes text-gray-900 bg-gray-900 font-medium rounded-lg px-5 text-center mt-2">
            {% for par in participantes %}
            {% if eve.0 == par.0 %}
            <div style="display: inline-block; border: 3px solid steelblue; border-radius: 15px;" class="m-2">
                <a href="{% url 'adm_modificar_usuario' par.4 %}">
                    <button type="button"
                        class="text-white m-2 bg-gradient-to-r from-green-400 to-blue-600 font-medium rounded-lg text-sm px-5 py-1.5 text-center mr-2 mb-2">{{par.2}}
                        {{ par.3 }} ~ {{ par.5 }}</button>
                </a>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endfor %}

{% endblock contenido_admin %}

{% block js_admin %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/datepicker.min.js"></script>
<script type="text/javascript" src="{% static 'js/ajax_adm_event.js' %}"></script>

<!--PUP UP-->
<script src="{% static '/js/popup.js' %}"></script>
<link rel="stylesheet" href="{% static '/css/popup.css' %}">

<script>
    //tabla de eventos
    $(document).ready(function () {
        $('#myTablevent').DataTable({
            responsive: true,
            autoWidth: false,
            dom: 'Bfrtip',
            language: {
                url: '//cdn.datatables.net/plug-ins/1.13.7/i18n/es-ES.json',
            },
            buttons: [
                {
                    extend: 'colvis',
                    columns: ':not(.noVis)'
                },
                {
                    extend: 'excelHtml5',
                    exportOptions: {
                        columns: ':visible'
                    }
                },
                {
                    extend: 'pdfHtml5',
                    exportOptions: {
                        columns: ':visible'
                    }
                }


            ],
            columnDefs: [
                { targets: [2], visible: false },// Oculta fecha de encuesta

            ]

        });
    });
</script>


{% endblock js_admin %}