{% extends "login.html" %}
{% load static %}


{% block contenido_login %}
<!-- BODY Cuerpo de pagina -->
<div>
    <!-- Tarjeta Inicio de Sesion -->
    <div class="flex justify-center items-center min-h-screen scale-up-center">
        <div class="w-full max-w-sm p-4 bg-black rounded-lg sm:p-6 md:p-8">
            <div>
                <p class="pb-2 flex items-center text-lg font-semibold text-gray-200">Formulario de Envío de Correo. <button data-popover-target="popover-description" data-popover-placement="bottom-end" type="button"><svg class="w-4 h-4 ms-2 text-gray-400 hover:text-gray-500" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd"></path></svg><span class="sr-only">Show information</span></button></p>
                <div data-popover id="popover-description" role="tooltip" class="absolute z-10 invisible inline-block text-sm text-gray-500 transition-opacity duration-300 bg-white border border-gray-200 rounded-lg shadow-sm opacity-0 w-72 dark:bg-gray-800 dark:border-gray-600 dark:text-gray-400">
                    <div class="p-3 space-y-2">
                        <h3 class="font-semibold text-gray-900 dark:text-white">Correo electronico.</h3>
                        <p>Al enviar tu correo electronico, se verificara si existe en nuestra base datos, ya sea un correo institucional o personal.</p>
                        <h3 class="font-semibold text-gray-900 dark:text-white">Envio.</h3>
                        <p>Se enviara un correo electronico con un enlace, el cual te permitira cambiar tu contraseña.</p>
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
                    </svg></a>
                    </div>
                    <div data-popper-arrow></div>
                </div>
                </div>
                <form action="{% url 'OLV' %}" id="correoForm">
                    {% csrf_token %}
                    <input type="text" id="correo" name="correo" class="rounded-lg">
                    <button type="submit" value="Enviar Correo" class="text-white bg-yellow-400 hover:bg-yellow-500 rounded-lg text-sm px-5 py-2.5">Enviar</button>
                </form>
                <div id="aviso" style="display: none;" class="m-2 mt-4">
                    <h2 id="aviso"></h2>
                </div>
            </div>
        </div>

        <!-- FIN BODY Cuerpo de pagina -->
        <!-- indicador de carga -->
        <div id="loading-indicator" style="display: none; color: white;" class="blurry-background absolute inset-0 flex items-center justify-center">
            <svg aria-hidden="true" style="position: absolute; height: 300px;" class="inline mr-2 text-gray-200 animate-spin dark:text-gray-600 fill-yellow-400" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor"/>
                <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill"/>
            </svg>
        ENVIANDO...
        </div>
        <!-- FIN indicador de carga -->
    </div>

    <style>
        .blurry-background {
            backdrop-filter: blur(10px); /* Ajusta el valor según el nivel de desenfoque deseado */
            position: absolute;
            inset: 0;
            background: rgba(0, 0, 0, 0.6); /* Ajusta el color de fondo y la opacidad según tus preferencias */
            z-index: 1;
        }
    </style>
    
    <script type="text/javascript" src="{% static 'js/envio_correo.js' %}"></script>
    {% endblock contenido_login %}